<!DOCTYPE html>
<html>
<head>
    <title>코로나 현황2</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free singlepage web template created by GraphBerry">
    <meta name="keywords" content="HTML5, Bootstrap 3, CSS3, javascript, PHP, Responsive, Mobile">
    <meta name="author" content="GraphBerry.com" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i" rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/slick.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    
</head>

<body>

    <header id="header">

        <!-- Section title -->
        <h1 class="sr-only">코로나</h1>

        <nav class="navbar navbar-default navbar-fixed-top">
            <!-- Section title -->
            <h1 class="sr-only">Main navigation</h1>

            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#main-navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand smoothScroll" href="http://localhost:5000">
                        <img alt="Modus" src="img/lona2.png">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                
            </div><!-- /.container -->
        </nav>

    </header>

    <!-- Scripts -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="static/js/smooth-scroll.min.js"></script>
	<script type="text/javascript" src="static/js/modernizr.mq.js"></script>
	<script type="text/javascript" src="static/js/slick.min.js"></script>

	<!-- Latest compiled and minified JavaScript Bootstrap-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- Custom JS -->
	<script src="static/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    
</body>
<main>
    <section id="clients">

        <!-- Section title -->
        <h1 class="sr-only">Clients section</h1>

    <div class="container">

        <div class="row">

            <div class="col-md-8 col-md-offset-2">

                <div class="clients-content">
    
                    <h1 class="section-title">서울시 코로나 확진 현황</h1>
                    <br>
                    <br>
                

        <canvas id="mychart03_1"></canvas>
        <br>
        <br>
        <canvas id="mychart03_2"></canvas>
        <br>
        <br>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


    <table class="table table-striped table-hover" border="1">
        <tr class="danger">
            <td>지역</td>
            <td>일일 신규 확진자</td>
            <td>누적 확진자</td>
            <td>지역</td>
            <td>일일 신규 확진자</td>
            <td>누적 확진자</td>
            
        </tr>
        <% for (var i=0; i<data.seoul.length; i++){%>
            <tr>
            <td><%= data.seoul[i].area_1%></td>
            <td><%= data.seoul[i].new_1%></td>
            <td><%= data.seoul[i].total_1%>명</td>
            <td><%= data.seoul[i].area_2%></td>
            <td><%= data.seoul[i].new_2%></td>
            <td><%= data.seoul[i].total_2%>명</td>
            </tr>
        <% }%>
    </table>
    <br>
    <br>
        <p></p>
        <h1> 서울시 코로나 연령별 확진 현황 </h1>
        <br>
        <br>
        <div class="container">
            <div class="row my-3">
                <div class="col-12">
                    <h4>연령별 확진 현황</h4>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-lg-6">
                    <div class="card" style="position: relative; height:600px; width:1000px;">
                        <div class="card-body">
                            <canvas id="mychart02"></canvas>
                        </div>
                        <div class="card-footer text-center text-dark"></div>
                    </div>
                </div>
            </div>
        </div>
        
    <script type="text/javascript">

        //데이터 삽입 부분
        var data= <%- JSON.stringify(data) %>//app.js에서 받아온 배열
        console.log('서울시 자치구별 확진 현황');

        var loc_peo1=new Array();
        for(let i=0; i<data.seoul.length;i++){
            loc_peo1[i]=data.seoul[i].total_1.replaceAll(',','')
        }
        let loc_peo2=new Array();
        for(let i=0;i<data.seoul.length;i++){
            loc_peo2[i]=data.seoul[i].total_2.replaceAll(',','')
        }
        
        testdata1={
            datasets:[{
                backgroundColor:['red','orange','yellow','green','blue','navy','purple','navy','blue','green','yellow','orange','red'],
                data:loc_peo1
            }],
            labels:['강남구','강동구','강북구','강서구','관악구','광진구','구로구',
            '금천구','노원구','도봉구','동대문구','동작구','마포구']//비율데이터 삽입
        }
        
    
        //차트 형태
        var ctx1=document.getElementById("mychart03_1");
        var ctx2=document.getElementById("mychart03_2");

        var mychart03_1=new Chart(ctx1,{
            type:'bar',
            data:{
                labels:['강남구','강동구','강북구','강서구','관악구','광진구','구로구',
                '금천구','노원구','도봉구','동대문구','동작구','마포구'],
                datasets:[{
                    label: '서울자치구별 확진 현황',
                    data:loc_peo1,
                    backgroundColor:['red','orange','yellow','green','blue','navy','purple','navy','blue','green','yellow','orange','red']
                }]  
            },
            options:{
                scales: {
                    yAxes: [{
                      ticks: {
                        beginAtZero: true
                        }
                    }]
                }
            }
        });
        var mychart03_2=new Chart(ctx2,{
            type:'bar',
            data:{
                labels:['서대문구','서초구','성동구','성북구','송파구','양천구','영등포구',
                '용산구','은평구','종로구','중구','중랑구','기타'],
                datasets:[{
                    label: '서울자치구별 확진 현황',
                    data:loc_peo2,

                    backgroundColor:['red','orange','yellow','green','blue','navy','purple','navy','blue','green','yellow','orange','red']
                }]  
            },
            options:{
                scales: {
                    yAxes: [{
                      ticks: {
                        beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    
    
        <script type="text/javascript">
    
            //데이터 삽입 부분
            var data= <%- JSON.stringify(data) %>//app.js에서 받아온 배열
            console.log('연령별 코로나 현황');
    
            let age=new Array();
            for(let i=0; i<data.age.length;i++){
                age[i]=data.age[i].age
            }
            let cnt1=new Array();
            for(let i=0;i<data.age.length;i++){
                cnt1[i]=data.age[i].cnt
            }
            let ratio=new Array();
            for(let i=0;i<data.age.length;i++){
                ratio[i]=data.age[i].ratio
            }
            
            testdata={
                datasets:[{
                    backgroundColor:['red','orange','yellow','green','blue','navy','purple','black'],
                    data:cnt1
                }],
                labels:['9세 이하','10대','20대','30대','40대','50대','60대','70세 이상']//비율데이터 삽입
            }
        
            //차트 형태
            var ctx=document.getElementById("mychart02");
            var mypiechart=new Chart(ctx,{
                type:'pie',
                data:testdata,
                options:{}
            });
        </script>
    <br>
    <br>

    <table class="table table-striped table-hover" border="1">
        <tr class="danger">
            <td>나이</td>
            <td>확진자 수</td>
            <td>비율</td>   
        </tr>
        <% for (var i=0; i<data.age.length; i++){%>
            <tr>
            <td><%= data.age[i].age%></td>
            <td><%= data.age[i].cnt%>명</td>
            <td><%= data.age[i].ratio%></td>
            
            </tr>
        <% }%>
    </table>
                        

                    </div>

                </div>

            </div>

            

        </div>

    </section>
</main>

</html>